.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  width: 60%;
  margin: 15% auto;
}

.modal-header {
  background: green;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  padding: 10px;
}

.close-modal {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
